
body{
    background-color: grey;
    margin: 24px;
    display: block;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-position-x:45%;
    background-position-y:70%;
    background-size: 95% 80%;
    background-image: url('Images/soccerField.png');
}

#title-block h1{
    background-color: red;
    border-radius: 8px;
    writing-mode: horizontal-tb;
    text-align: center;
    text-transform: uppercase;
    font-size: 3vw;
    color: white;
    margin-left:auto;
    margin-right:auto;
    width: 40%;
    height:15%;
    top: 2%;
    
    
}



#button-setup button{
    display: inline-block;
    position: absolute;
    bottom: 15vh;
    right:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    border-radius: 12px;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    font-size: 1.5vw;
    padding: 1%;
    width: 15%;
    height: 12%; 
    transition: all 0.5s;
    cursor: pointer;
}

#button-setup button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#button-setup button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}


#button-setup button:hover span{
    padding-right: 25px;
}


#button-setup button:hover span:after{
    opacity: 1;
    right: 0;
}



#soccerball-images img{
    position: absolute;
    top: 2vh;
    left: 5%;
    max-width: 10vw;
    max-height: 10vh;
    height: auto;   

}


#soccerball-images-two img{
    position: absolute;
    top: 2vh;
    right: 5%;
    max-width: 10vw;
    max-height: 10vh;
    height: auto;   
}

#soccerteam img{
    position: absolute;
    top: 25vh;
    right: 37%;
    max-width: 30vw;
    max-height: 30vh;
    height: auto;
    
}

/*Placement of the Scoreboard */
#app{
    display: flex;
    justify-content: center;
}

#button-back button{
    display: inline-block;
    position: absolute;
    bottom: 5vh;
    right:0;
    left:80%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 12px;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    font-size: 10px;
    padding: 10px;
    width: 100px; 
    transition: all 0.5s;
    cursor: pointer;
}

/*Here is the code to design the scoreboard for the 
"EditingPage.html" page */

.scoreboard{
    display: grid;
    grid-template-columns: 1fr 1fr; /* repeat(2, 1fr) is the same as 1fr 1fr*/
    width: 450px;
    font-family:'Times New Roman', sans-serif;
    font-size: medium;
    background-color: #444;
}


/*Here we will be setting common styles for the scoreboard name and 
the scoreboard score, so we will call both classes at the same time */

.scoreboard__name, 
.scoreboard__score{
    padding: 10px;
    text-align: center;
}


/*Next we are only customizing the scoreboard name for
the scoreboard */

.scoreboard__name{
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}


/*Next, we are customizing the color of the name
tags */

.scoreboard__name--one{
    color: red;
}

.scoreboard__name--two{
    color: rgb(47, 124, 240);
}


/*Here we are customizing the actual score this time */

.scoreboard__score{
    font-size: 2em;
    color: white;
}

/*Creating the control buttons for the number */

.scoreboard__controls{
    display: flex;
}

.scoreboard__control-button{
    flex-grow: 1;
    border: none;
    background: rgb(197, 191, 191);
    cursor: pointer;
    font-size: 1.2 em;
}


.scoreboard__control-button:hover{
    background: #ddd;
}

.scoreboard__control-button:active{
    background: #ccc;
}



/*
* Here will be the styling for the timer
*
*/

.timer{
    font-family: sans-serif;
    display: inline-block; /*Will insure it will not take up the entire width of the page*/
    padding: 24px 32px;
    border-radius: 30px;
    background: lightgrey;
}


/*this part we are targetting the timer parts, so the minute and sec part*/

.timer__part{
    font-size: 36px;
    font-weight: bold;
}

.timer__btn{
    width: 50px;
    height: 50px;
    margin-left: 16px; /*gives us space between the icon and next one */
    border-radius: 50%;
    border: none;
    color: white;
    background: purple;
    cursor: pointer;
}


/*change for the start button*/

.timer__btn--start{
    background: limegreen;

}

/*change for the stop button now*/
.timer__btn--stop{
    background: red;
}