
body{
    background-color: grey;
    
}

#title-block h1{
    
    writing-mode: horizontal-tb;
    text-align: center;
    text-transform: uppercase;
    font-size: 4vw;
    color: white;
    

    
    
}

#soccerField-img img{
    position:absolute;
    width: 90%;
    height: 80%;
    text-align: center;
    top: 15vh;
    left: 5vw;
    
}


#button-setup button{
    display: inline-block;
    position: absolute;
    bottom: 15vh;
    right:0;
    left:0;
    margin-left:auto;
    margin-right:auto;
    border-radius: 12px;
    background-color: red;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 200px; 
    transition: all 0.5s;
    cursor: pointer;
    
    
}

#button-setup button span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#button-setup button span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}


#button-setup button:hover span{
    padding-right: 25px;
}


#button-setup button:hover span:after{
    opacity: 1;
    right: 0;
}



#soccerball-images img{
    position: absolute;
    top: 2vh;
    left: 5%;
    max-width: 10vw;
    max-height: 10vh;
    height: auto;   

}


#soccerball-images-two img{
    position: absolute;
    top: 2vh;
    right: 5%;
    max-width: 10vw;
    max-height: 10vh;
    height: auto;   

}